@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Indie+Flower&display=swap");

html {
  background: linear-gradient(#87ceeb, #9198e5);
  /* background-image: url("../public/wil-stewart-T26KCgCPsCI-unsplash.jpg"); */
  width: 100%;

  /* background-image: url("../public/wai-hsuen-weixian-chan-DnmMLipPktY-unsplash.jpg"); */
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.App,
.weatherForm {
  width: 100%;
  background: none;
  font-family: "Didact Gothic";
}

.beforeInput {
  margin-left: 18px;
  font-size: 1.5rem;
}

.defaultSelection {
  color: purple;
}

::placeholder {
  /* font-style: italic; */
  font-size: 0.75em;
  color: mintcream;
  padding: 5px;
}

.selectCountry,
.selectState {
  background: none;
  height: 50px;
  width: 20%;
  font-size: 18px;
  margin-top: 2px;
  text-align: center;
}

.location,
.cityName {
  text-align: center;
  border-bottom: 2px black solid;
  background: none;
  height: 50px;
  width: 20%;
  margin-left: 20px;
  font-size: 25px;
}

.cityName {
  border: none;
  width: 100%;
  margin-top: 20px;
}

.submitLocation {
  width: 29%;
  margin: 2px auto;
  background: none;
  height: 50px;
  position: absolute;
  right: -50px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Didact Gothic";
  font-size: 15px;
}

.locationName {
  text-align: center;
  font-family: "Didact Gothic";
  font-size: 30px;
}

.weatherDetails {
  display: flex;
  flex-direction: column;
}

.currentTemperature {
  width: fit-content;
  background: #fff;
  font-size: 14px;
  border: 2px #000 solid;
  line-height: 2;
  padding: 10px;
}

.formGroup {
}

label {
  font-size: 17px;
  width: 29%;
}

input,
select {
  width: 29%;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
}

.bolded {
  font-weight: 700;
}

.centered {
  text-align: center;
  border: 1px black solid;
  width: 100%;
  border-radius: 5px;
}

.errorMsg {
  font-size: 14px;
  color: red;
  text-align: center;
}

.fiveDayForecast {
  display: flex;
  width: 25%;
  flex-direction: column;
}

.highs,
.lows {
  display: flex;
  flex-direction: row;
}

.dailyHigh,
.dailyLow {
  flex: 0 0 45%;
  font-size: 30px;
  font-weight: bold;
  line-height: 6rem;
  text-align: center;
  height: 100px;
}
.daysOfTheWeek {
}
.lows {
}
