@import url("https://fonts.googleapis.com/css?family=Didact+Gothic");

html {
  width: 100%;
  font-family: "Didact Gothic";
  background: #008ecc;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.App,
.weatherForm {
  width: 100%;
  background: none;
  font-family: "Didact Gothic";
  background: #fff;
  height: 50px;
}

.beforeInput {
  margin-left: 40px;
  font-size: 18px;
  color: #e1c16e;
  font-weight: 700;
}

::placeholder {
  font-style: italic;
  font-size: 0.5em;
  color: black;
}

.selectCountry,
.selectState {
  font-family: "Didact Gothic";
  background: none;
  height: 50px;
  width: 20%;
  font-size: 18px;
  margin-top: 2px;
  text-align: center;
  color: #000;
}

.location,
.cityName {
  font-family: "Didact Gothic";
  text-align: center;
  border-bottom: 1px ivory solid;
  background: none;
  height: 29px;
  width: 20%;
  margin-left: 20px;
  font-size: 25px;
  border-radius: 8px;
}

.cityName {
  font-family: "Didact Gothic";
  border: none;
  width: 100%;
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  height: 35px;
  color: #fff;
}

.onloadMsg {
  text-align: center;
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  font-family: "Didact Gothic";
}

.sunImg {
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 5%;
}

.submitLocation {
  background: none;
  width: 29%;
}

.locationName {
  text-align: center;
  font-family: "Didact Gothic";
  font-size: 30px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 80px;
}

.weatherDetails {
  font-family: "Didact Gothic";
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.currentTemperature {
  font-family: "Didact Gothic";
  color: #fff;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.weather {
  font-size: 30px;
}

.currentTemp {
  font-size: 40px;
  height: 60px;
}

input,
select {
  font-family: "Didact Gothic";
  width: 29%;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
  color: #000;
}

.bolded {
  font-weight: 700;
  color: #fff;
}

.errorMsg {
  font-family: "Didact Gothic";
  font-size: 18px;
  color: #e1c16e;
  text-align: center;
  margin-top: 100px;
}

.fiveDayForecast {
  font-family: "Didact Gothic";
  display: flex;
  width: 99%;
  flex-direction: column;
  background: #e1c16e;
  border-radius: 10px;
  border: 5px #fff solid;
}

.highs,
.lows,
.daysOfTheWeek,
.icons {
  color: black;
  display: flex;
  flex-direction: row;
  font-family: "Didact Gothic";
}

.dailyHigh,
.dailyLow,
.dayOfTheWeek,
.dailyIcon {
  flex: 0 0 20%;
  font-size: 30px;
  text-align: center;
  height: 50px;
  font-family: "Didact Gothic";
}

.dayOfTheWeek {
  font-size: 14px;
  height: 35px;
  font-weight: 700;
}
.dailyIcon {
  height: 100px;
}

@media screen and (max-width: 640px) {
  .beforeInput {
    margin-left: 15px;
  }
  .location {
    width: 50%;
    margin-left: 15px;
  }
  .selectCountry,
  .selectState {
    width: 50%;
    margin: 0 40px;
  }
  .weatherForm {
    text-align: center;
  }
  .searchIcon {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
  .searchIcon {
    top: 7px;
    right: -6px;
  }
  .selectCountry,
  .selectState {
    width: 50%;
    margin: 0 45px;
  }
  .cityName {
    margin-top: -33px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 375px) {
  .cityName {
    margin-top: -33px;
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 768px) {
  .cityName {
    margin-top: 35px;
    margin-bottom: 10px;
  }
}
